/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.btn {
  font-size: 26px;
  padding: 7px 25px;
  -moz-box-shadow:    3px 3px 5px 1px #373636;
  -webkit-box-shadow: 3px 3px 5px 1px #373636;
  box-shadow:         3px 3px 5px 1px #373636;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Shadows Into Light', cursive;
}

// .body_image {
//   background: url(/assets/bad_food.jpg) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

// .body_image:after {
//   opacity: 0.5;
// }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  width: 90% !important;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.masthead-brand {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
}

.masthead-brand em {
  font-size: 32px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Logo
 */

#logo {
  margin: 60px auto 0;
  text-align: center;
}

#logo img {
  width: 18em;
  height: auto;
  margin: 10px auto;
  opacity: .8;
}

.formContainer input, .formContainer select {
  width: 50%;
  height: 54px;
  font-size: 26px;
}

.adjust {
  float: left;
  margin-left: 43px;
}

.adjust-text {
  margin-top: -4px;
}

.height-input {
  width: 5% !important;
}

.height-text {
  margin-left: 40px;
}

.weight {
  width: 40% !important;
}

.age {
  width: 30% !important;
  margin-left: 40px;
}

/*
 * Wizard steps
 */
.steps {
  background: rgba(116, 116, 116, 0.3);
  width: 85%;
  margin: 0 auto;
  padding: 2% 5%;
  box-shadow: 1px 1px 6px #2A2A2A;
}

.steps h2 {
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 40px;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}