ul {
  list-style-type: none;
}

#logo {
  margin: 0 auto;
  text-align: center;
}

#logo img {
  width: 20em;
  height: auto;
}

.formContainer {
  text-align: center;
}

.formContainer form {

}

.formContainer form input {
  padding: 4px;
  width: 10em;
}

.exercise_profile {
  border: 1px solid #eee;
  margin: 0 auto;
  width: 33em;
}
