%div{"ng-controller" => "ActivitesCtrl"}
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        #logo
          = image_tag(asset_path('splashpage_graphic_test.gif'))
        .masthead.clearfix
          .inner
            %h4.masthead-brand
              %em Absurd
              Calorie Burner
        .inner.cover
          .formContainer{ 'ng-switch' => '', :on => 'stepWizard' }
            #step_1{ 'ng-switch-when' => 'step_1'  }
              %input{ placeholder: 'Gender', 'ng-model' => 'sessionVariables.gender'   }
              %br
              %button{ type: :button, 'ng-click' => 'addStep("step_2")' }
                %span Next
            #step_2{ 'ng-switch-when' => 'step_2'  }
              %input{ placeholder: 'Height', 'ng-model' => 'sessionVariables.height'   }
              %br
              %button{ type: :button, 'ng-click' => 'addStep("step_3")' }
                %span Next
            #step_3{ 'ng-switch-when' => 'step_3'  }
              %input{ placeholder: 'Weight', 'ng-model' => 'sessionVariables.weight'   }
              %br
              %button{ type: :button, 'ng-click' => 'addStep("step_4")' }
                %span Next
            #step_4{ 'ng-switch-when' => 'step_4'  }
              %input{ placeholder: 'Age', 'ng-model' => 'sessionVariables.age'      }
              %br
              %button{ type: :button, 'ng-click' => 'addStep("step_5")' }
                %span Next
            #step_5{ 'ng-switch-when' => 'step_5'  }
              %input{ placeholder: 'Calories', 'ng-model' => 'sessionVariables.calories' }
              %br
              %button{ type: :button, 'ng-click' => 'addStep("show_results"); getResult()' }
                %span Finish

            .exercise_profile{ 'ng-switch-when' => 'show_results'  }
              %ul
                %li
                  Name
                %li
                  Time
                %li
                  Additional Weight
              %button{type: :button}
                %span Yes
              %button{type: :button}
                %span No

              .do_it
                %p
                  You Better Do It

              .why
                %p
                  Why Not?




        / .mastfoot
        /   .inner
        /     %p
        /       Cover template for
        /       = succeed "," do
        /         %a{:href => "http://getbootstrap.com"} Bootstrap
        /       = succeed "." do
        /         %a{:href => "https://twitter.com/mdo"} @mdo