%div{"ng-controller" => "ActivitesCtrl"}
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        #logo
          = image_tag(asset_path('splashpage_graphic_test.gif'))
        .masthead.clearfix
          .inner
            %h4.masthead-brand
              %em Absurd
              Calorie Burner

        .inner.cover
          %h1.cover-heading Cover your page.
          %p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
          %p.lead
            %a.btn.btn-lg.btn-default{:href => "#"} Learn more

          .formContainer
            %form
              %ul
                %li
                  %input{type: :text, placeholder: 'Gender' }
                %li
                  %input{type: :text, placeholder: 'Height' }
                %li
                  %input{type: :text, placeholder: 'Weight' }
                %li
                  %input{type: :text, placeholder: 'Age'    }
                %li
                  %input{type: :text, placeholder: 'Calories' }
                %li
                  %button{type: :button}
                    %span Next

          .exercise_profile
            %ul
              %li
                Name
              %li
                Time
              %li
                Additional Weight
            %button{type: :button}
              %span Yes
            %button{type: :button}
              %span No

          .do_it
            %p
              You Better Do It

          .why
            %p
              Why Not?

          %button.btn.btn-success{:type => "button"} Success

          / %ul
          /   %li{"ng-repeat" => "entry in exercise"}
          /     {{entry.name}}



        .mastfoot
          .inner
            %p
              Cover template for
              = succeed "," do
                %a{:href => "http://getbootstrap.com"} Bootstrap
              = succeed "." do
                %a{:href => "https://twitter.com/mdo"} @mdo