%div{"ng-controller" => "ActivitesCtrl"}
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        #logo
          / = image_tag(asset_path('splashpage_graphic_test.gif'))
          / = image_tag(asset_path('splashpage_graphic_test3.jpg'))
          = image_tag(asset_path('test.png'))
        .masthead.clearfix
          .inner
            %h4.masthead-brand
              %em Absurd
              Calorie Burner
        .inner.cover
          .formContainer{ 'ng-switch' => '', :on => 'stepWizard' }
            .steps#start.clearfix{ 'ng-switch-when' => 'start'  }
              %h2 Are you ready to burn some calories?
              %button.btn.btn-danger{ type: :button, 'ng-click' => 'addStep("step_1")' }
                %span Git Er Done!
            .steps#step_1.clearfix{ 'ng-switch-when' => 'step_1'  }
              %h2 What gender would you like to be?
              %h2.pull-left.adjust-text I feel like a
              %select.form-control.adjust
                %option{:value => "m", 'ng-model' => 'sessionVariables.gender'} Man
                %option{:value => "f"} Woman
              %button.btn.btn-danger.pull-right{ type: :button, 'ng-click' => 'addStep("step_2")' }
                %span Next
            .steps#step_2.clearfix{ 'ng-switch-when' => 'step_2'  }
              %h2 What is your roster height?
              %h2.pull-left.adjust-text I am
              %input.pull-left.form-control.adjust.height-input{ placeholder: '7', 'ng-model' => 'sessionVariables.feet' }
              %h2.pull-left.adjust-text.height-text feet and
              %input.pull-left.form-control.adjust.height-input{ placeholder: '2', 'ng-model' => 'sessionVariables.inches' }
              %h2.pull-left.adjust-text.height-text inches tall
              %button.btn.btn-danger.pull-right{ type: :button, 'ng-click' => 'addStep("step_3")' }
                %span Next
            .steps#step_3.clearfix{ 'ng-switch-when' => 'step_3'  }
              %h2 About how may stones are you?
              %h2.pull-left.adjust-text I weigh
              %input.pull-left.form-control.adjust.weight{ placeholder: '185', 'ng-model' => 'sessionVariables.weight' }
              %h2.pull-left.adjust-text.height-text pounds
              %button.btn.btn-danger.pull-right{ type: :button, 'ng-click' => 'addStep("step_4")' }
                %span Next
            .steps#step_4.clearfix{ 'ng-switch-when' => 'step_4'  }
              %h2 How many birthdays have you seen?
              %h2.pull-left.adjust-text.height-text I am
              %input.pull-left.form-control.age{ placeholder: '12', 'ng-model' => 'sessionVariables.age' }
              %h2.pull-left.adjust-text.height-text years young
              %button.btn.btn-danger.pull-right{ type: :button, 'ng-click' => 'addStep("step_5")' }
                %span Next
            .steps#step_5.clearfix{ 'ng-switch-when' => 'step_5'  }
              %h2 How many calories do you want to burn?
              %h2.pull-left.adjust-text.height-text I just ate
              %input.pull-left.form-control.age{ placeholder: '2000', 'ng-model' => 'sessionVariables.calories' }
              %h2.pull-left.adjust-text.height-text calories
              %button.btn.btn-danger.pull-right{ type: :button, 'ng-click' => 'addStep("show_results"); getResult()' }
                %span Finish

            .exercise_profile.steps{ 'ng-switch-when' => 'show_results'  }
              %img{ src: "{{exercise.exercise_url}}" }
              %h2
                {{exercise.exercise_name}} for {{ Math.round(exercise.time / 60) }} hours, {{ Math.round(exercise.time % 60) }} minutes with a {{ Math.round(exercise.additional_weight) }}lb. {{ exercise.item }}
              %br
              %button{type: :button, 'ng-click' => '' }
                %span Yes
              %button{type: :button, 'ng-click' => 'addStep("show_results"); getResult()' }
                %span No

              .do_it
                %p
                  You're A Beast!

              .why
                %p
                  Why Not?




        / .mastfoot
        /   .inner
        /     %p
        /       Cover template for
        /       = succeed "," do
        /         %a{:href => "http://getbootstrap.com"} Bootstrap
        /       = succeed "." do
        /         %a{:href => "https://twitter.com/mdo"} @mdo